In [ ]:
# Списковые включения
# [возвращаемое_значение цикл итерируемый объект]
# [возвращаемое_значение условие цикл итерируемый объект]
# [возвращаемое_значение цикл итерируемый объект условие]
# [возвращаемое_значение условие цикл итерируемый объект условие]
# [возвращаемое_значение цикл итерируемый объект возвращаемое_значение цикл итерируемый объект]
list_of_values = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]


list_of_values.sort(reverse=True)

print(list_of_values)

In [ ]:
def sort_even_values(item):
    if item % 2 == 0:
        return True
    return False


list_of_values.sort(key=sort_even_values, reverse=True)

print(list_of_values)

In [6]:
teachers = [
    ["name", "surname", "age", "email", "phone", "discipline", "is_head"],
    ["Alex", "Black", 29, "a.black@gmail.com", "123-456-7890", "Math", False],
    ["John", "Doe", 35, "j.doe@example.com", "123-456-7891", "Physics", True],
    ["Jane", "Smith", 28, "j.smith@example.com", "123-456-7892", "Chemistry", False],
    ["Emily", "Johnson", 40, "e.johnson@example.com", "123-456-7893", "Biology", True],
    ["Michael", "Brown", 33, "m.brown@example.com", "123-456-7894", "History", False],
    ["Sarah", "Davis", 37, "s.davis@example.com", "123-456-7895", "Literature", True],
    ["David", "Wilson", 45, "d.wilson@example.com", "123-456-7896", "Geography", False],
    ["Laura", "Martin", 29, "l.martin@example.com", "123-456-7897", "Art", True],
]

def filter_teachers(data):
    emails = [teacher[3] for teacher in data[1:] if teacher[2] > 30 and teacher[-1] == True]
    return emails
print(filter_teachers(teachers))

['j.doe@example.com', 'e.johnson@example.com', 's.davis@example.com']

In [ ]:
def filter_teacher(data):
    email_exit = []
    for i in data[1:]:
        if i[2] > 30 and i[-1] :
            email_exit.append(i[3])
    return email_exit 
print(filter_teacher(teachers))

In [ ]:
data = [
    ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
    ['1', '0', '3', 'Braund, Mr. Owen Harris', 'male', '22', '1', '0', 'A/5 21171', '7.25', '', 'S'],
    ['2', '1', '1', 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)', 'female', '38', '1', '0', 'PC 17599', '71.2833', 'C85', 'C'],
    ['3', '1', '3', 'Heikkinen, Miss. Laina', 'female', '26', '0', '0', 'STON/O2. 3101282', '7.925', '', 'S'],
    ['4', '1', '1', 'Futrelle, Mrs. Jacques Heath (Lily May Peel)', 'female', '35', '1', '0', '113803', '53.1', 'C123', 'S'],
    ['5', '0', '3', 'Allen, Mr. William Henry', 'male', '35', '0', '0', '373450', '8.05', '', 'S'],
    ['6', '0', '3', 'Moran, Mr. James', 'male', '', '0', '0', '330877', '8.4583', '', 'Q'],
    ['7', '0', '1', 'McCarthy, Mr. Timothy J', 'male', '54', '0', '0', '17463', '51.8625', 'E46', 'S'],
    ['8', '0', '3', 'Palsson, Master. Gosta Leonard', 'male', '2', '3', '1', '349909', '21.075', '', 'S'],
    ['9', '1', '3', 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)', 'female', '27', '0', '2', '347742', '11.1333', '', 'S'],
    ['10', '1', '2', 'Nasser, Mrs. Nicholas (Adele Achem)', 'female', '14', '1', '0', '237736', '30.0708', '', 'C'],
    ['11', '1', '3', 'Sandstrom, Miss. Marguerite Rut', 'female', '4', '1', '1', 'PP 9549', '16.7', 'G6', 'S'],
    ['12', '1', '1', 'Bonnell, Miss. Elizabeth', 'female', '58', '0', '0', '113783', '26.55', 'C103', 'S'],
    ['13', '0', '3', 'Saundercock, Mr. William Henry', 'male', '20', '0', '0', 'A/5. 2151', '8.05', '', 'S'],
    ['14', '0', '3', 'Andersson, Mr. Anders Johan', 'male', '39', '1', '5', '347082', '31.275', '', 'S'],
    ['15', '0', '3', 'Vestrom, Miss. Hulda Amanda Adolfina', 'female', '14', '0', '0', '350406', '7.8542', '', 'S'],
    ['16', '1', '2', 'Hewlett, Mrs. (Mary D Kingcome) ', 'female', '55', '0', '0', '248706', '16', '', 'S'],
    ['17', '0', '3', 'Rice, Master. Eugene', 'male', '2', '4', '1', '382652', '29.125', '', 'Q'],
    ['18', '1', '2', 'Williams, Mr. Charles Eugene', 'male', '', '0', '0', '244373', '13', '', 'S'],
    ['19', '0', '3', 'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)', 'female', '31', '1', '0', '345763', '18', '', 'S'],
    ['20', '1', '3', 'Masselmani, Mrs. Fatima', 'female', '', '0', '0', '2649', '7.225', '', 'C'],
    ['21', '0', '2', 'Fynney, Mr. Joseph J', 'male', '35', '0', '0', '239865', '26', '', 'S'],
    ['22', '1', '2', 'Beesley, Mr. Lawrence', 'male', '34', '0', '0', '248698', '13', 'D56', 'S'],
    ['23', '1', '3', 'McGowan, Miss. Anna "Annie"', 'female', '15', '0', '0', '330923', '8.0292', '', 'Q'],
    ['24', '1', '1', 'Sloper, Mr. William Thompson', 'male', '28', '0', '0', '113788', '35.5', 'A6', 'S'],
    ['25', '0', '3', 'Palsson, Miss. Torborg Danira', 'female', '8', '3', '1', '349909', '21.075', '', 'S']
]

In [1]:
# Создание списка квадратов чисел: Через list comprehension создать список с числами, где каждое число
# возведено в квадрат
num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
new_nums = [x**2 for x in num_list]
print(new_nums)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [2]:
# Вычисление суммы квадратов четных чисел:
# Есть список чисел, вычислить сумму его чётных чисел:
num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
new_nums = sum(x**2 for x in num_list if x%2 == 0)
print(new_nums)

120

In [3]:
print(x**2 for x in num_list if x%2 == 0)

<generator object <genexpr> at 0x000001D65548F780>

In [ ]:
# [элемент условие для элемента цикл + последовательность условие для всех элементов последовательности]
my_data_v2 = [elem ** 3 if elem < 5 else elem ** 4 \ # элемент условие для элемента
for elem in range(1, 11, 2) \ # цикл + последовательность
if elem % 3 == 0 # условие для всех элементов последовательности
]

print(my_data_v2)